body{
    text-align:center;
}

#submit_button{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: lawngreen;
}
#search_button{
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: gold;
}
input{
    margin: 10px;
    right: 20px;
    font-size: bold; 
}
input{
    background: linear-gradient(to left, #ff0000, #ddff00);
    text-decoration-color: rgb(123, 0, 255);
}